# For only app.py
numpy==1.24.3
streamlit==1.27.0
pandas==2.1.1
scikit-learn==1.3.0
xgboost==2.0.0

# for research
numpy 
pandas 
matplotlib
scikit-learn
scipy
statsmodels
seaborn
openpyxl
streamlit
xgboost
XlsxWriter
flask
gradio
